<div *ngIf="!name; else forminfo">
  <form (ngSubmit)="addPost(rForm.value)" [formGroup]="rForm">
    <div class="form-container">
      <div class="row columns">
        <h1>My Reactive Form</h1>
        <label for="name">Name
          <input formControlName="name" id="name" name="name" type="text">
        </label>
        <div *ngIf="!rForm.controls['name'].valid && !rForm.controls['name'].touched" class="alert">
          {{titleAlert}}
        </div>

        <label for="description">Description
          <textarea cols="30" formControlName="description" id="" id="description" name="description"
                    rows="10"></textarea>
        </label>
        <div *ngIf="!rForm.controls['description'].valid && !rForm.controls['description'].touched"
             class="alert">
          This field need to be 30 to 500 characters in length
        </div>

        <label for="validate">Minimum of 3 Characters</label>
        <input formControlName="validate" id="validate" name="validate" type="checkbox" value="1">On

        <input [disabled]="!rForm.valid" class="button expanded" type="submit" value="Submit Form">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
    </div>
  </div>
</ng-template>
